<ion-header [translucent]="true" >
  <ion-toolbar > 
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
   <ion-card class="header">
     <ion-item color="translucent" detail lines="none">
      <ion-label>XOF</ion-label>
      <ion-icon name="chevron-down-outline"></ion-icon>
      <ion-input placeholder="0.00" type="number"></ion-input>
     </ion-item>
   </ion-card>
   <ion-card>
     <ion-list chevron>
       <ion-card>
        <ion-item>
          <ion-label>Premier</ion-label>
          <ion-text>1 est le premier </ion-text>
        </ion-item>
       </ion-card>
       
       <ion-card>
        <ion-item > 
          <ion-label>Premier</ion-label>
          <ion-text>1 est le premier </ion-text>
        </ion-item>
       </ion-card>

       <ion-card>
        <ion-item>
          <ion-label>Premier</ion-label>
          <ion-text>1 est le premier </ion-text>
        </ion-item>
       </ion-card>
     </ion-list>
   </ion-card>
</ion-content>
